@model IDocument

@foreach (IDocument post in Model.GetChildren())
{
  @Html.Partial("/_post.cshtml", post)
}

@{
  IDocument newer = Model.GetDocument(Keys.Previous);
  IDocument older = Model.GetDocument(Keys.Next);
}
@if (older != null || newer != null)
{
  <ul class="pager">
    <li class="previous">
      @if (newer != null)
      {
        <a href="@Context.GetLink(newer)"><span aria-hidden="true">&larr;</span> Newer</a>
      }
    </li>
    <li class="next">
      @if (older != null)
      {
        <a href="@Context.GetLink(older)">Older <span aria-hidden="true">&rarr;</span></a>
      }
    </li>
  </ul>
}
